<?xml version="1.0" encoding="UTF-8"?>
<configuration><system.webServer>
  <handlers><add name="iisnode" path="server.cjs" verb="*" modules="iisnode" /></handlers>
  <rewrite><rules><rule name="KhadijaNode" stopProcessing="true"><match url=".*"/><action type="Rewrite" url="server.cjs"/></rule></rules></rewrite>
  <iisnode nodeProcessCountPerApplication="1" loggingEnabled="false" devErrorsEnabled="false" />
  <httpErrors existingResponse="PassThrough" />
</system.webServer></configuration>
